body {
  margin: 0;
  background-color: rgb(44, 41, 38);
  font-family: 'Open Sans';
  
}

a:link, a:visited, a:active {
  text-decoration:none;
}
#main-header a:visited {
  color:rgb(185, 131, 31);
}

#main-header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  margin: 0 1rem;
}

#main-header nav a {
  color: rgb(185, 131, 31);
  font-size:1.25rem;
}

#main-header {
  height: 5rem;
  background-color: rgb(29, 26, 24);
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-header a:hover{
  color:rgb(228, 163, 44);

}
#logo{
  font-size: 32px;
}
main h1 {
  text-align: center;
  font-size: 3rem;
    color: rgb(185, 131, 31);

}

#latest-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.food-item img {
  height: 250px;
}

.food-item-content {
  padding: 1rem;
  text-align: center;
}

.food-item h2 {
  margin: 0 0 1rem 0;
}

.btn {
  background-color: rgb(228, 157, 44);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 2px 16px;
}

